{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<form id="confirm_booking" action="{% url 'flight:book' %}" method="post">
  {% csrf_token %}
  <!-- Choose the flight modal -->
  <table width="50%" style="margin-left: auto; margin-right: auto">
    <tr>
      <td>
        <img src="{% static 'take_off.png' %}" width="60px" />
        <h2 class="p-2 inline">{{ source_city }}</h2>
      </td>
      <td>
        <img src="{% static 'landing.png' %}" width="55px" />
        <h2 class="p-2 inline">{{ destination }}</h2>
      </td>
      <td>
        <img src="{% static 'calender.png' %}" width="60px" />
        <h2 class="p-1 inline">{{ date }}</h2>
      </td>
    </tr>
  </table>
  <div class="" id="choose_flight_form">
    <div class="p-28">
      <div class="w3-container w3-blue">
        <h1>Chose your flight</h1>
      </div>
      <div class="w3-container w3-white w3-padding-16"></div>
      <div class="w3-container w3-white w3-padding-16">
        <!-- Loop through every flight-->
        <table style="width: 100%">
          <style>
            th,
            td {
              padding: 20px;
            }
          </style>
          <tr>
            <td><strong>Flight Number</strong></td>
            <td><strong>Departure Time</strong></td>
            <td><strong>Avilabe Classes</strong></td>
          </tr>
          {% for flight, seat_count in result %}
          <tr>
            <div class="border">
              <td>
                <h2 class="p-2 inline">{{ flight.code }}</h2>
              </td>
              <td>
                <h2 class="p-2 inline">{{ flight.time }}</h2>
              </td>

              <td>
                <!-- for first class-->
                {% if seat_count.F > 0 %}
                <div
                  style="
                    width: 300px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <input
                    type="radio"
                    name="flight_selector"
                    id="{{ flight.code }}-F"
                    value="{{ flight.code }}-F"
                    required
                    onclick=' $("#book_button").removeAttr("disabled");'
                  />
                  <img src="{% static 'first.png' %}" width="30px" />
                  <span
                    >{{ seat_count.F }} Seats Avilabe -
                    <strong>Price:</strong> {{ seat_count.F_price }} SR</span
                  >
                </div>
                {% endif %}
                <!-- for economy class-->
                {% if seat_count.E > 0 %}
                <div
                  style="
                    width: 300px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <input
                    type="radio"
                    name="flight_selector"
                    id="{{ flight.code }}-E"
                    value="{{ flight.code }}-E"
                    required
                    onclick=' $("#book_button").removeAttr("disabled");'
                  />
                  <img src="{% static 'economy.png' %}" width="30px" />
                  <span
                    >{{ seat_count.E }} Seats Avilabe -
                    <strong>Price:</strong> {{ seat_count.E_price }} SR</span
                  >
                </div>
                {% endif %}
                <!-- for business class -->
                {% if seat_count.B > 0 %}
                <div
                  style="
                    width: 300px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <input
                    type="radio"
                    name="flight_selector"
                    id="{{ flight.code }}-B"
                    value="{{ flight.code }}-B"
                    required
                    onclick=' $("#book_button").removeAttr("disabled");'
                  />
                  <img src="{% static 'business.png' %}" width="30px" />
                  <p>
                    {{ seat_count.B }} Seats Avilabe -
                    <strong>Price:</strong> {{ seat_count.B_price }} SR
                  </p>
                </div>
                {% endif %}
              </td>
            </div>
          </tr>
          {% empty %}
          <strong>No flights found for this date</strong>
          {% endfor %}
        </table>

        <button disabled type="button" class="w3-button w3-dark-grey block m-3" id="book_button">
          Book Selected Flight
        </button>
      </div>
    </div>
  </div>

  <!-- Personal Info Modal -->
  <div class="" id="info_modal" style="display: none">
    <!--
      Enter Passenger Information
    -->
    <div class="p-28">
      <div class="w3-container w3-blue">
        <h2>Passenger Info</h2>
      </div>
      <button type="button" class="w3-button w3-blue m-3" id="go_back">Co Back</button>

      <div class="w3-container w3-white w3-padding-16" id="fsdfd">
        <!-- repeated for every passenger-->
        <div class="passen border-2 m-2 border-black">
          <label class="p-2">First Name</label>
          <input
            class="w3-input w3-border inline m-2 max-w-fit"
            type="text"
            name="first-name"
            required
          />
          <label class="p-2">Last Name</label>
          <input
            class="w3-input w3-border inline m-2 max-w-fit"
            type="text"
            name="last-name"
            required
          />
          <label class="p-2">Birth Date</label>
          <input
            class="w3-input w3-border inline m-2 max-w-fit"
            type="date"
            name="birth-date"
            required
          />
          <br />
          <label class="p-2">Phone</label>
          <input
            class="w3-input w3-border inline m-2 max-w-fit"
            type="Phone"
            name="phone"
            required
          />
          <label class="p-2">Address</label>
          <input
            class="w3-input w3-border inline m-2 max-w-fit"
            type="text"
            name="address"
            required
          />
          <br />
          <label class="p-2">Email</label>
          <input
            class="w3-input w3-border inline m-2 max-w-fit"
            type="email"
            name="email"
            required
          />
          <br />
          <label class="p-2">Special Needs?</label>
          <input
            class="inline m-2 max-w-fit"
            type="checkbox"
            name="special-needs"
          />
        </div>
        <button type="button"
          id="another-button"
          class="w3-button w3-dark-grey m-3"
          onclick="appendPassenger()"
        >
          Add Another Passenger
        </button>
        <button class="w3-button w3-dark-grey m-3" type="submit">
          Confirm Booking
        </button>
      </div>
    </div>
  </div>
</form>

<script>
  function appendPassenger() {
    const container = document.getElementById("fsdfd");
    const another_button = document.getElementById("another-button");

    const requiredDiv = document.getElementsByClassName("passen")[0];
    const clonedDiv = requiredDiv.cloneNode(true);

    container.insertBefore(clonedDiv, another_button);
    console.log(container);
  }
</script>

{%endblock content %}
