{% extends 'base.html' %} {% load static %} {% block content %}
<div class="">
  <!--
    Enter Passenger Information
  -->
  <div class="p-28">
    <div class="w3-container w3-red">
      <h2>Passenger Info</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <h2 class="p-2 inline"><strong>Source City: </strong>{{ source_city }}</h2>
      <h2 class="p-2 inline"><strong>Destination City:</strong>{{ destination }}</h2>
      <h2 class="p-2 inline"><strong>Date :</strong>{{ date }}</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <!-- Loop through every flight-->
      {% for f in flights %}
        <div class="border">
          <h2 class="p-2 inline"><strong>Flight Number:</strong>{{ f.code }}</h2>
          <h2 class="p-2 inline"><strong>Departure Time:</strong>{{ f.time }}</h2>
          <br />
          <br />

          <h2><strong>Avilabe Classes:</strong></h2>
          {% for class in f.plane.model.class_info.all %}
            {% if class.type == 'F' %}
              <h2 class="p-2 inline"><strong>First Seat Available: </strong>{{ class.total_seats }} - <strong>Price:</strong> {{ class.price }} SR</h2>
            {% elif class.type == 'E' %}
              <h2 class="p-2 inline"><strong>Economy Seat Available: </strong>{{ class.total_seats }} - <strong>Price:</strong> {{ class.price }} SR</h2>
            {% elif class.type == 'B' %}
              <h2 class="p-2 inline"><strong>Business Seat Available: </strong>{{ class.total_seats }} - <strong>Price:</strong> {{ class.price }} SR</h2>
            {% endif %}
            <br>
          {% endfor %}

          <button class="w3-button w3-dark-grey block m-3">
            Book This Flight
          </button>
        </div>
      {% empty %}
        <strong>No flights found for this date</strong>
      {% endfor %}
    </div>
  </div>
</div>

{%endblock content %}
