{% extends 'base.html' %} {% load static %} {% block content %}
<div class="">
  <!--
    Enter Passenger Information
  -->
  <div class="p-28">
    <div class="w3-container w3-red">
      <h1>Chose your flight</h1>
    </div>
    <table width='50%' style='margin-left: auto; margin-right: auto;'>
      <tr>
        <td>
          <img src="{% static 'take_off.png' %}" width="60px">
          <h2 class="p-2 inline">{{ source_city }}</h2>
        </td>
        <td>
          <img src="{% static 'take_off.png' %}" width="60px">
          <h2 class="p-2 inline">{{ destination }}</h2>
        </td>
        <td>
          <img src="{% static 'calender.png' %}" width="60px">
          <h2 class="p-1 inline">{{ date }}</h2>
        </td>
      </tr>
    </table>
    <div class="w3-container w3-white w3-padding-16">
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <!-- Loop through every flight-->
      <table style="width:100%;">
        <style>
          th, td {
            padding: 20px;
          }
        </style>
        <tr>
          <td><strong>Flight Number</strong></td>
          <td><strong>Departure Time</strong></td>
          <td><strong>Avilabe Classes</strong></td>
        </tr>
        {% for f in flights %}
          <tr>
            <div class="border">
              <td>
                <h2 class="p-2 inline">{{ f.code }}</h2>
              </td>
              <td>
                <h2 class="p-2 inline">{{ f.time }}</h2>
              </td>

              <td>
                {% for class in f.plane.model.class_info.all %}
                  {% if class.type == 'F' %}
                    <h2 class="p-2 inline"><strong>First Seat Available: </strong>{{ class.total_seats }} - <strong>Price:</strong> {{ class.price }} SR</h2>
                    <br>
                  {% elif class.type == 'E' %}
                    <h2 class="p-2 inline"><strong>Economy Seat Available: </strong>{{ class.total_seats }} - <strong>Price:</strong> {{ class.price }} SR</h2>
                    <br>
                  {% elif class.type == 'B' %}
                    <h2 class="p-2 inline"><strong>Business Seat Available: </strong>{{ class.total_seats }} - <strong>Price:</strong> {{ class.price }} SR</h2>
                    <br>
                  {% endif %}
                {% endfor %}
              </td>
            </div>
          </tr>
            {% empty %}
            <strong>No flights found for this date</strong>
            {% endfor %}
      </table>
        <button class="w3-button w3-dark-grey block m-3">
          Book Selected Flight
        </button>
    </div>
  </div>
</div>

{%endblock content %}
