{% extends 'base.html' %} {% load static %} 
{% block title %}Book Flight{% endblock title %}
{% block content %}
<div class="bg-[url('{% static 'airplane.jpg' %}')] bg-scroll	bg-cover	">
 <!--
    Book a flight
  -->
  <div class="p-28">
    <div class="w3-container w3-red">
      <h2>Book a flight</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="{% url 'flight:search_flight' %}" method='post'>
        {% csrf_token %}
        <div class="w3-row-padding" style="margin: 0 -16px">
          <div class="w3-half w3-margin-bottom">
            <label> Depature Date</label>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="DD MM YYYY"
              name="Depature"
              required
            />
          </div>
          <div class="w3-half">
            <label for="source-city">Source City</label>
            <select
              name="source-city"
              id="source-city"
              class="border-solid border-2 rounded border-black"
            >
              <option value="Jeddah">Jeddah</option>
              <option value="Riyadh">Riyadh</option>
              <option value="Dammam">Dammam</option>
              <option value="Abha">Abha</option>
            </select>
            <br></br>
            <label for="dest-city">Destination City</label>
            <select
              name="dest-city"
              id="dest-city"
              class="border-solid border-2 rounded border-black"
            >
              <option value="Jeddah">Jeddah</option>
              <option value="Riyadh">Riyadh</option>
              <option value="Dammam">Dammam</option>
              <option value="Abha">Abha</option>
            </select>


          </div>
        </div>
        <div class="w3-row-padding" style="margin: 8px -16px">
          <div class="w3-half">
            <label> Number of Passengers</label>
            <input
              class="w3-input w3-border"
              type="number"
              value="0"
              name="passenger"
              min="0"
              max="10"
            />
          </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit">
          <i class="fa fa-search w3-margin-right"></i> Search availability
        </button>
      </form>
    </div>
  </div>
  <!-- Check Booking -->
  <div class="p-28">
    <div class="w3-container w3-red">
      <h2>Check Booking Status</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="">
        <div class="w3-row-padding" style="margin: 0 -16px">
          <div class="w3-half w3-margin-bottom">
            <label>Booking ID</label>
            <input
              class="w3-input w3-border"
              type="text"
              name="BookingID"
              required
            />
          </div>
          <div class="w3-half">
            <label> Passenger SSN</label>
            <input
              class="w3-input w3-border"
              type="text"
              name="PassengerSSN"
              required
            />
          </div>
        </div>

        <button class="w3-button w3-dark-grey" type="submit">
          <i class="fa fa-search w3-margin-right"></i> Search
        </button>
      </form>
    </div>
  </div>
</div>
 

{% endblock content %}
