{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'custom-styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w3-light-grey">
    <!-- Navigation Bar -->
    <div class="w3-bar w3-large bg-yellow-400">
      <a href="/" class="w3-mobile text-6xl">
        <span class="font-sans text-green-700">KFUPM</span>
        <span class="text-3xl align-middle">Airlines</span>
      </a>

      <a href="/admin" class="w3-bar-item w3-button w3-right w3-mobile"
        >Admin Login</a
      >
    </div>

    {% block content %} {% endblock content %}

    <!-- Footer -->
    <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
      <h5>Find Us On</h5>
      <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>Done by KFUPM Students</p>
    </footer>

    <!-- Add Google Maps -->
    <script>
      function myMap() {
        myCenter = new google.maps.LatLng(41.878114, -87.629798);
        var mapOptions = {
          center: myCenter,
          zoom: 12,
          scrollwheel: false,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        var map = new google.maps.Map(
          document.getElementById("googleMap"),
          mapOptions
        );

        var marker = new google.maps.Marker({
          position: myCenter,
        });
        marker.setMap(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
    <!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->
  </body>
</html>
