{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'custom-styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'script.js' %}"></script>
    {% block script %}{% endblock script %}
  </head>
  <body class="w3-light-grey">
    <!-- Navigation Bar -->
    <div class="w3-bar w3-large bg-[#decd6a] p-5">
      <a href="/" class="w3-mobile text-6xl">
        <h1
          class="font-sans tracking-tighter font-bold inline text-7xl text-[#027e40]"
        >
          KFUPM
        </h1>
        <h2 class="text-3xl inline text-[#333333]">Airlines</h2>
      </a>

      <a
        href="/admin"
        class="w3-button w3-right w3-mobile p-5 rounded border-2 bg-slate-50 border-solid"
        >Admin Login</a
      >
    </div>

    {% block content %} {% endblock content %}

    <!-- Footer -->
    <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
      <h5>Find Us On</h5>
      <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>Done by KFUPM Students</p>
    </footer>

    
  </body>
</html>
